body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// @function rem($size) {
//   $rem-size: $size / 16;
//   @return #{$rem-size}rem;
// }